#adopt {
  display: flex;
}

#adopt.loading section#loading {
  display: block;
}

#adopt.loading section#pets,
#adopt.loading section#people {
  display: none;
}

#adopt.loaded section#loading {
  display: none;
}

#adopt.loading section#pets,
#adopt.loading section#people {
  display: none;
}

#adopt section {
  flex: 1;
}
